@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-color: #49495a;
    font-family: "Poppins", sans-serif;
}

form {
    width: 50%;
    margin: 1rem auto;
}

input {
    background-color: #49495a;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px black, 0 15px 40px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
}

input::placeholder {
    color: #bbb;
}

input:focus {
    outline: none;
}

.card {
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 33px;
    width: 80%;
    margin: auto;
    color: white;
    background-color: #343438;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 0 5px 10px black, 0 15px 40px rgba(0, 0, 0, 0.5);
}

.avatar {
    border: 10px solid #26262c;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.links {
    background-color: #161616;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.links:hover {
    background-color: #2e2727;
}

.other-links {
    color: rgb(233, 17, 233);
    font-size: 1.5rem;
    text-decoration: none;
}

.other-links:hover {
    text-decoration: underline;
}