@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding-top: 3rem;
}
.col2 {
    background-color: #eef5e0;
    border-radius: 3px;
    border: none;
    color: rgb(78, 71, 71);
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 6rem;
    right: 1rem;
}
.col {
    background-color: #4a4b48;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 3.5rem;
    right: 1rem;
}
.add {
    background-color: #6f7961;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.note {
    background-color: rgb(233, 232, 232);
    box-shadow: 0 0 10px 4px rgba(37, 37, 37, 0.1);
    margin: 20px;
    height: 200px;
    width: 300px;
}

.note .tools {
    background-color: #609fda;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.note .main {
    background-color: rgb(238, 238, 238);
    overflow: hidden;
    height: 200px;
    width: 100%;
}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 200px;
    width: 100%;
}

.note .hidden {
    display: none;
}

